.navbanner { 
    border: 20px dotted pink; 
    position:relative;
    z-index:1000
}

.footer {
    position: fixed;
    left: 20px;
    bottom: 0;
    width: 25%;
    background-color: rgba(106, 180, 241, 0.877);
    color: white;
    text-align: center;
    z-index:1000;
  }

  .rcorners {
    border-radius: 25px;

  }